<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Profile you have visited : <%= personid %></p>
   <p>Location: <%= data.location %></p>
   <p>Company : <%= data.company %></p>
   Languages Known :
   <ul>
       <% data.languages.forEach(langs => {%>
        <li><%= langs %></li>
        <%})%>
   </ul>
</body>
</html>
